html {
    background-image: url("../images/dark-honeycomb.png");
}

.gif-div {
    float: left;
    margin: 5px 10px;
    color: white;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    }

.search-button {
    margin: 5px;
}

section {
    width: 50%;
    clear: right;
}

#button-display {
    margin: 10px;
    float: left;
    width: 50%;
}

#form-display {
    float: right;
    margin: 0 auto;
}

#gif-display {
    width: 100%;
    background-color: gray;
}

form {
    margin: 15px;
    width: 200px;
}

input {
    margin-bottom: 10px;
}

h1 {
    padding: 10px 10px 0px 10px;
    font-size: 32px;
}

p {
    margin: 0px;
}